<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The GDMC Competition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The website for GDMC">
    <meta name="author" content="Michael C. Green">
    <link rel="icon" href="images/Icon.png">

    <!-- Le styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'> -->
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:300" rel="stylesheet">
    
 <style type="text/css">
    body {
        padding-top: 20px;
        padding-bottom: 60px;
        font-family: 'Londrina Solid';font-size: 22px;        
      }
    body > .container {
        padding: 80px 15px 0;
    }
      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {    
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
  <header>
        <% include header.ejs %>

    </header>
    <div class="container">
      <h4 align="center">  Organizing Committee  </h4>
      <table width="100%" style="margin-bottom: 20px;">
          <tr>
          <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"><img src="images/Mike.jpg" alt="" height="210" width="210"></td>
          <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"><img src="images/Christoph.jpg" alt="" height="210" width="210"> </td>
          <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"><img src="images/rodrigo.png" alt="" height="210" width="210"> </td>
          </tr>
          <tr>
            <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"> <a href="mailto:mcg520@nyu.edu">mike.green@nyu.edu</a></td>
            <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"> <a href="mailto:christophsalge@gmail.com">christophsalge@gmail.com</a></td>
            <td style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;"> <a href="mailto:rmc602@nyu.edu">rmc602@nyu.edu</a></td>
            <font size="2">
                <tr>
                    <td width="20%" style="padding: 7px; line-height: 15px; text-align: justify; vertical-align: top; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;" ><font size="3"><b>Michael Cerny Green</b></font><font size="2"> is a PhD candidate studying AI and Games under Dr. Julian Togelius at New York University's Tandon School of Engineering. He holds a BS degree (2016) in Computer Science and Business and a BA degree (2016) in Classical Civilizations from Lehigh University. He is co-responsible for the <b>Settlement Generation Track</b>, the <b>GDMC Framework</b>, and competition website. Check-out his homepage at <a href="https://mikecgreen.com" target="_blank">mikecgreen.com</a></font></td>
                    <td width="20%" style="padding: 7px; line-height: 15px; text-align: justify; vertical-align: top; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;"><font size="3"><b>Christoph Salge</b></font><font size="2"> is a Marie Curie Global Fellow currently researching how intrinsic motivation can be used to evaluate procedurally generated content. He is an avid Minecraft player and while he was writing up his Phd on “Information-Theoretic Models of Social Interaction” he spent way too much time building a height-level spanning version of Isengard on a survival server. His research interests include AI, games, robotics and philosophy. View his website at: <a href="http://homepages.herts.ac.uk/~cs08abi">http://homepages.herts.ac.uk/~cs08abi</a></font></td>
                    <td width="20%" style="padding: 7px; line-height: 15px; text-align: justify; vertical-align: top; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;"><font size="3"><b>Rodrigo Canaan</b></font><font size="2"> is a PhD student in Computer Science at NYU. He got his B.Sc. in Computer Science from the Federal University of Rio de Janeiro (Brazil). He is now researching Human-Computer Co-Creativity and Mixed-Initiative systems, using cooperative games as testbed to build better co-creative applications.</font></td>
                </tr>
            </font>
        </tr>
      </table>
      <table width="100%" style="margin-bottom: 20px;">
        <tr>          
          <td
            style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;">
            <img src="images/Christian.jpeg" alt="" height="210" width="210"> </td>
          <td
            style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;">
            <img src="images/Julian.jpg" alt="" height="210" width="210"> </td>
        </tr>
        <tr>        
          <td
            style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;">
            <a href="mailto:christian.guckelsberger@qmul.ac.uk">christian.guckelsberger@qmul.ac.uk</a></td>
          <td
            style="padding: 8px; line-height: 20px; text-align: center; vertical-align: center; border-top: 1px solid #dddddd;">
            <a href="mailto:julian@togelius.com">julian@togelius.com</a></td>      
          <font size="2">
        <tr>
          <td width="20%"
            style="padding: 7px; line-height: 15px; text-align: justify; vertical-align: top; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">
            <font size="3"><b>Christian Guckelsberger</b></font>
            <font size="2"> is a PhD student in the Game AI Research Group at Queen Mary, University of London. His goal is to
              engineer autonomous artificial systems that would be deemed creative in their own right by unbiased observers.
              Christian addresses this challenge with computational models of intrinsic motivation through both theoretical
              and practical inquiry. Christian has a background in computer science, art history and business, and one of his
              central roles within the competition is to bridge between communities to inform interdisciplinary challenges
              such as <b>'chronicle generation'</b>.</font>
          </td>
          <td width="20%"
            style="padding: 7px; line-height: 15px; text-align: justify; vertical-align: top; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">
            <font size="3"><b>Julian Togelius</b></font>
            <font size="2"> is an Associate Professor at New York University (NYU). After studying Philosophy in Lund and
              Evolutionary and Adaptive Systems in Sussex he did a PhD in Computer Science at Essex, and then did a postdoc at
              IDSIA in Lugano. His research interests include applications of computational intelligence in games, procedural
              content generation, automatic game design, evolutionary computation and reinforcement learning. He is the Editor
              in Chief of the IEEE Transactions on Games and the past chair of the IEEE CIS Technical Committee on Games.
            </font>
          </td>      
        </tr>
        </font>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12">
          <h4 align="center">Advisory Board</h4>
        </div>
      </div>
      <div class = "row" align="center">
        Andy Nealen, Diego Perez Liebana, Gillian Smith, Jialin Liu 刘佳琳, Jonas Buechel, Mark R. Johnson, Mike Cook, Mitu Khandaker, Rafael Bidarra, Richard Bartle, Tom Froese, Adrian Brightmoore, Squirrel Eiserloh and Mike Preuss.
      </div>
    </div>
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
