
<div class="container-fluid">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><h3>The GDMC Competition</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class = "navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a><span class="sr-only">(current)</span></li>
            <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/research">Research</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Rankings</a>
              <div class="dropdown-menu" areia-labelledby="navbarDropdownMenuLink">
                <a class="nav-link dropdown-toggle" href="#" id = "navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">Settlement Generation</a>
                <div class="dropdown-menu" areia-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/results_2018">2018</a>
                </div>
              </div>
            </li>
          </ul>          
        </div>
        <hr>
        <div class="navbar-nav">
          <% if(!isAuthed) { %>
            <a class="nav-item nav-link" href="/signup">Sign up</a>
            <a class="nav-item nav-link" href="/login">Log in</a>
          <% } else { %>
            <a class="nav-item nav-link" href="/profile">Hello, <%= user.firstName %></a>
            <a class="nav-item nav-link" href="/submit">Submit</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } %>
        </div>
      </div>
    </div>
  </nav>
</div>