<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The GDMC Competition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The website for GDMC">
    <meta name="author" content="Michael C. Green">
    <link rel="icon" href="images/Icon.png">

    <!-- Le styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'> -->
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:300" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;

        background: url('images/background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

        background-attachment: fixed;
        font-family: 'Londrina Solid';font-size: 22px;
        font-weight: 100;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }
	
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0 10px;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {	
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
	   .jumbotron h4 {
	  	padding: -10px;
	   }
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .main_title {
        padding-top: 100px;

      }

      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

      .carousel {
      	padding-bottom: 20px;
        width:120%;
        background-position: center /* or whatever position you wanted */
        background-size: cover;
        margin :auto;
      }
      #carouselExampleIndicators {
        margin:auto;
      }
      .carousel-item {        
        width:120%;
        background-repeat: no-repeat;
        background-position: center /* or whatever position you wanted */
        background-size: cover;
      }

      .carousel-inner > .item > img, 
      .carousel-inner > .item > a > img{
      width: 100%; /* use this, or not */
      margin: auto;
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

  <% include header.ejs %>

	  
	  <div class="container" style="padding-top: 100px">
      <div class="row">
          <div class="col-md-12 col-xs-12">
            <h1 class="alert alert-minecraft-stonebrick" style="text-align: center">Generative Design in Minecraft</h1>  
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3 class="alert alert-minecraft-alert" style="text-align: center">Discord Channel now online! <a style="color:gold; text-decoration: underline" href="http://discord.gg/ueaxuXj" target="_blank">Ask all questions here!</a>
          </h3>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3 class="alert alert-minecraft-alert" style="text-align: center">
            <a style="color:gold; text-decoration: underline" href="https://github.com/dtccx/java_platform" target="_blank">Now with Forge Mod Submission Capability aka Java!</a>
          </h3>
        </div>
      </div>
      <div class="row">
		    <div class="col-md-8 col-xs-12">
          <div class="alert alert-minecraft-stonebrick">
            <!-- <h2 align="center" class="alert-minecraft-gold" style="text-decoration: underline;">What Is This?</h2> -->
            <a align="center">Welcome to the Generative Design in Minecraft Competition (GDMC) website. We are currently running the 2nd iteration of the AI settlement generation challenge. You can see the important dates and deadlines in the sidebar.</a><br><br>

            <a>Do you like Minecraft and procedural content generation? Did you look at the villages in Minecraft and thought, I could write a better algorithm to produce settlements? Now is your chance to prove it.</a><br><br>

            <a>The Settlement Generation Challenge is about writing an algorithm that can create a settlement for a given, unknown Minecraft map. <a href="/rules" style="color:gold; text-decoration: underline;">The challenge</a> is to produce an algorithm that is adaptive towards the provided map, creates a settlement that satisfies a range of  functional requirement - but also looks good and evokes an interesting narrative. The goal is to basically produce an algorithm that can rival the state of the art of what humans can produce. Currently we have two ways to submit to the challenge!</a><br><br>

            <h3>MCEdit Filter Submission</h3>
            <a>If you are interested in participating, you can find a framework and example agents on our <a href="https://github.com/mcgreentn/GDMC" target="_blank" style="color:gold; text-decoration: underline;">GitHub page</a>. Visit the <a href="https://github.com/mcgreentn/GDMC/wiki" target="_blank" style="color:gold; text-decoration: underline;">wiki page</a> for help and documentation. This framework is based on MCEdit, and takes care of reading in the map, etc. All you need to do is implement one function inside the framework that build the settlement. Once again, check our GitHub for details.
            </a>
            <br><br>
            <h3>Forge Mod Submission</h3>
            <a>We also have a basic framework for building a forge based mod that also illustrates how to overload a console command. The <a href="https://github.com/dtccx/java_platform" target="_blank" style="color:gold; text-decoration: underline;">Github can be found here</a> and gives basic installation instructions. The Github's submission instructions are outdated, however. If you want to submit as a mod, you will have to overload the console command "BuildSettlement x1 y1 z1 x2 y2 z2", where x1, y1, and z1 determine one corner of the selection box within which to generate a settlement and x2, y2, and z2 determine the other. We will take the competition maps, load them in a modded version of Minecraft, with your mod, and execute the command for the same area we would apply an MCEdit filter to. Your mod then needs to build a settlement within the bounding box. Once it is finished we will save the map, and send it to the judges for evaluation as normal.
            </a>
            <br><br>
            <a>This version is a bit more experimental, so if you want to submit as a mod rather than as an MCEdit filter, please submit early, so we can test if your mod runs, and contact you in case it does not. Also keep in mind that we are working with Minecraft version 12.2.</a>
            <br><br>

            <h3>Rules</h3>
            <a>You can also find the <a href="/rules" style="color:gold; text-decoration: underline;">rules and detailed judging criteria</a> on this page. The basic idea is that all submitted algorithms will be run on three, previously unseen, maps, and the results will then be evaluated by our <a style="color:gold; text-decoration: underline;" href="/about">advisory board</a>. Submission have to be made via this website. Just sign up to submit.</a><br><br>

            <!-- <a>The submission deadline is the 30th of June, and results will be announce at the Foundations of Digital Games conference (FDG 2018) in August - and online. Submissions will open soon.</a><br><br> -->

            <a>Also, follow us on <a href="https://twitter.com/GenDesignMC" style="color:gold; text-decoration: underline;">Twitter (@GenDesignMC)</a> for updates and announcements.</a>
             
          </div>          
        </div>     
        <div class="col-md-4 col-xs-12">
          <div class="alert alert-minecraft-stonebrick" align="center">
            <a style="text-decoration: underline; color:gold">**FDG 2018 Competition Files**</a>
            <br><a class="alert-minecraft-white" target="_blank" href="files/testMaps.zip">Just the Test Maps</a>
            <br><a class="alert-minecraft-white" target="_blank" href="files/resultsMap1.zip">Map 1 Results</a>
            <br><a class="alert-minecraft-white" target="_blank" href="files/resultsMap2.zip">Map 2 Results</a>
            <br><a class="alert-minecraft-white" target="_blank" href="files/resultsMap3.zip">Map 3 Results</a>
            <br><a class="alert-minecraft-white" href="/results_2018">Leaderboard</a>
          </div>
          <div class="alert alert-minecraft-stonebrick" align="center">
            <a style="text-decoration: underline; color:gold">**Useful Links**</a>
            <br><a class="alert-minecraft-white" target="_blank" href="https://github.com/mcgreentn/GDMC">Get the Code</a>
            <br><a class="alert-minecraft-white" target="_blank" href="https://github.com/mcgreentn/GDMC/wiki">Wiki Page</a>
            <br><a class="alert-minecraft-white" href="/rules">Competition Rules</a>
            <br><a class="alert-minecraft-white" target="_blank" href="http://discord.gg/ueaxuXj" target="_blank">Discord Channel</a>
            <br><a class="alert-minecraft-white" target="_blank" href="https://youtu.be/7eVK8UAWOaw" target="_blank">ProcGen Video</a>
          </div>
          <div class="alert alert-minecraft-stonebrick" align="center">
            <a class="alert-minecraft-gold" style="text-decoration: underline; color: gold;">**Important Dates**</a>
            <br><a class="alert-minecraft-white">March 31, 2019: Submission Deadline</a>
            <br><a class="alert-minecraft-white">May 2019: Evaluation of Submissions</a>
            <br><a class="alert-minecraft-white">TBA: Results announced</a>
          </div>
			
         	<div class="alert alert-minecraft-stonebrick" align="center"><a style="text-decoration: underline; color:gold;">**Contact Us**</a>
            <br>
            
            <a class="alert-minecraft-white" href="https://twitter.com/GenDesignMC" target="_blank">Twitter: @GenDesignMC</a>
			      <br>
			      <a class="alert-minecraft-white" href="mailto:GenDesignMC@gmail.com" target="_blank">Email: GenDesignMC@gmail.com</a>
            <br>
            <a class="alert-minecraft-white" href="http://discord.gg/ueaxuXj" target="_blank">Discord: GDMC Channel</a>
			  
            
          </div>
          <a class="twitter-timeline" data-height="550" data-theme="dark" href="https://twitter.com/GenDesignMC?ref_src=twsrc%5Etfw">Tweets by GenDesignMC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			 <!-- <a opacity=0.9 class="twitter-timeline"  href="https://twitter.com/search?q=%40GenDesignMC" data-widget-id="965803405812944896">Tweets about @GenDesignMC</a> -->
            <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>   -->
   								  
        </div>                 
      </div>
    </div>
</div>
<!--         <div class="row">
          <div class="col-md-12 mb-3">
            <div class="alert alert-info" align="center">We are still making changes to our website! Check back soon for more information about the competition.
            </div>
	         </div>
        </div> -->
      <!-- </div> /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

    </script>
  </body>
</html>
